<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SBDC - Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="img/Logo.svg" class="card-svg mt-5 ms-2"
                    style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; width: 83%; height: auto;"
                    alt="SBDC logo">


                <div class="card ms-0 mt-5 ps-4 pe-4 pt-3 pb-4 shadow" style="width: 300px;" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px; width: 300px;">

                    <a href=" " class="card mb-3 mt-2 p-2 shadow-sm" style="text-align: center;">
                        Dashboard
                    </a>

                    <a href="sales.html" class="card mb-3 p-2 shadow-sm" style="text-align: center;">
                        Sales
                    </a>

                    <a href="marketing.html" class="card mb-3 p-2 shadow-sm" style="text-align: center;">
                        Marketing
                    </a>

                    <a href="engineering.html" class="card mb-3 p-2 shadow-sm" style="text-align: center;">
                        Engineering
                    </a>

                    <a href="user.html" class="card mb-3 p-2 shadow-sm" style="text-align: center; margin-top: 150px;">
                        User Management
                    </a>

                    <a href="logout.html" class="card mb-1 p-2 shadow-sm" style="text-align: center;">
                        Logout >
                    </a>

                </div>
            </div>

            <div class="col-3 pt-5" style="width: 50rem">
                <div class="card ms-0 p-5 shadow" style="height: 45.8rem;">
                    <label class="label"
                        style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 40px;">Dashboard</label>
                </div>
            </div>

        </div>


        <!-- Footer -->
        <div class="row">
            <div class="card mt-5">

            </div>
        </div>

    </div>
</body>

</html>